* {
    margin : 0;
    padding : 0;
}

body {
    font-size : 12px;
    background: #f8f8f8;
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: #f8f8f8;
    background: #40daf5;
    text-align: center;
    border: 1px solid #ddd2d2;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

form, .content {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #b0b0b0;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.input-gorup {
    margin: 10px 0px 10px 0px;
}

.input-gorup label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-gorup input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #328a7e;
    border: none;
    border-radius: 5px;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f8f8f8;
    border-radius: 5px;
    text-align: left;
}

.success {
    color: #278f5e;
    background: #dff9d8;
    border: 1px solid #278f5e;
    border-bottom: 20px;
}